.f13-lastfm-album-container
{
    background: #fafafa;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0px;
}

.f13-lastfm-album-head
{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.f13-lastfm-album-art
{
    max-width: 300px;
    height: auto;
    float: left;
    border: 1px solid #222;
}

.f13-lastfm-album-art > img
{
    width: 100%;
    height: auto;
}

.f13-lastfm-album-tracks
{
    height: auto;
    float: left;
}

.f13-lastfm-album-tracks > span
{
    display: block;
    margin-left: 15px;
}

.f13-lastfm-album-tags
{
    clear: both;
}

.f13-lastfm-album-tags > .f13-lastfm-album-tags-label
{
    font-weight: bold;
    display: block;
    margin-bottom: -1em;
    padding-top: 1em;
}

.f13-lastfm-album-tags .f13-lastfm-album-tags-tag
{
    background: #fff;
    padding: 5px 10px;
    margin-right: 1em;
    display: inline-block;
    margin-top: 1em;
    border: 1px solid #ccc;
}

.f13-lastfm-album-tags .f13-lastfm-album-tags-tag:hover
{
    text-decoration: underline;
    border: 1px solid #222;
}

.f13-lastfm-album-published
{
    margin-top: 1em;
}

.f13-lastfm-album-published > span
{
    font-weight: bold;;
}

.f13-lastfm-album-summary
{
    margin-top: 1em;
}

.f13-lastfm-album-summary > span
{
    font-weight: bold;
    display: block;
}

#f13-charts-container {
    border: 1px solid #ccc;
    background: #fafafa;
}

.f13_music_lyrics {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    max-height: 500px;
    overflow-y:auto;
    background: #fafafa;
}
